& {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    background-color: $color4;
    font-family: 'PT Sans', Arial, sans-serif;
    box-sizing: border-box;

    > div {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: px(80, $m);
        box-sizing: border-box;

        h2 {
            color: $color1;
            font-size: px(44, $m);
            font-weight: bold;

            &::after {
                display: block;
                width: px(48, $m);
                height: px(6, $m);
                margin: px(40, $m) auto px(36, $m);
                border-radius: 5px;
                background-color: $color2;
                content: '';
                box-sizing: border-box;
            }
        }

        p {
            width: px(472, $m);
            margin: px(2, $m) px(10, $m) 0 0;
            color: $color3;
            font-size: px(28, $m);
            line-height: px(36, $m);
            text-align: center;
        }
    }

    .internet {
        order: 3;
        padding-right: px(112, $m);

        h2::before {
            display: block;
            position: relative;
            width: px(126, $m);
            height: px(148, $m);
            margin: 0 0 px(38, $m) px(178, $m);
            background: url($pass-to-img + 'internetIcon.svg') no-repeat;
            content: '';
        }

        .phoneMode {
            display: none;
        }

        .downloads {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: px(490, $m);
            margin: px(48, $m) 0 px(52, $m) px(14, $m);
            box-sizing: border-box;

            a {
                display: block;
                width: px(120, $m);
                height: px(120, $m);
                border-radius: 5px;
                box-sizing: border-box;
            }

            span {
                display: block;
                position: relative;
                width: px(158, $m);
                color: $color3;
                font-size: px(30, $m);
                font-weight: bold;
                text-align: center;

                &::before {
                    display: block;
                    position: absolute;
                    top: px(76, $m);
                    left: px(-24, $m);
                    width: px(67, $m);
                    height: px(17, $m);
                    background: url($pass-to-img + 'greenArrow.png') no-repeat;
                    background-size: px(67, $m);
                    content: '';
                }

                &::after {
                    display: block;
                    position: absolute;
                    top: px(-30, $m);
                    left: px(110, $m);
                    width: px(67, $m);
                    height: px(17, $m);
                    background: url($pass-to-img + 'greyArrow.png') no-repeat;
                    background-size: px(67, $m);
                    content: '';
                }
            }

            .android {
                border: px(2, $m) solid $color5;
                background: url($pass-to-img + 'androidIcon.svg') no-repeat center center;
                background-size: px(78, $m);

                &:hover {
                    background: $color5 url($pass-to-img + 'androidIcon_hover.png') no-repeat center center;
                    background-size: px(76, $m);
                }
            }

            .ios {
                border: px(2, $m) solid $color3;
                background: url($pass-to-img + 'appleIcon.svg') no-repeat center center;
                background-size: px(66, $m);

                &:hover {
                    background: $color3 url($pass-to-img + 'appleIcon_hover.png') no-repeat center center;
                    background-size: px(62, $m);
                }
            }
        }

        button {
            position: relative;
            width: px(384, $m);
            height: px(80, $m);
            margin: px(42, $m) px(12, $m) px(80, $m) 0;
            padding-left: px(74, $m);
            border: px(2, $m) solid $color6;
            border-radius: 5px;
            outline: 0;
            background: url($pass-to-img + 'videoPlayIcon.svg') px(26, $m) center no-repeat transparent;
            background-size: px(36, $m);
            color: $color6;
            font-size: px(28, $m);
            box-sizing: border-box;

            &:hover {
                background: url($pass-to-img + 'videoPlayIcon_hover.svg') px(26, $m) center no-repeat $color6;
                background-size: px(36, $m);
                color: $color7;
            }
        }

        &::after {
            display: block;
            position: absolute;
            right: px(60, $m);
            bottom: 0;
            width: px(860, $m);
            height: px(8, $m);
            background-image: url($pass-to-img + 'divider.svg');
            content: '';
        }
    }
    // END internet

    .satellite {
        order: 1;
        padding-left: px(112, $m);

        h2::before {
            display: block;
            position: relative;
            width: px(126, $m);
            height: px(148, $m);
            margin: 0 0 px(40, $m) px(132, $m);
            background: url($pass-to-img + 'satelliteIcon.svg') no-repeat;
            content: '';
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: px(4, $m);
            color: $color3;
            font-size: px(26, $m);

            li {
                padding-bottom: px(40, $m);

                span {
                    display: inline-block;
                    width: 50%;
                    box-sizing: border-box;

                    &:nth-child(odd) {
                        padding: 0 px(22, $m);
                        font-weight: bold;
                        letter-spacing: px(1, $m);
                        text-align: right;
                    }
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        .description {
            display: none;
        }

        button {
            position: relative;
            width: px(424, $m);
            height: px(80, $m);
            margin: px(88, $m) px(16, $m) 0 0;
            padding-left: px(56, $m);
            border: px(2, $m) solid $color6;
            border-radius: 5px;
            outline: 0;
            background: url($pass-to-img + 'videoPlayIcon.svg') px(26, $m) center no-repeat transparent;
            background-size: px(36, $m);
            color: $color6;
            font-size: px(30, $m);
            letter-spacing: px(-1, $m);
            box-sizing: border-box;

            &:hover {
                background: url($pass-to-img + 'videoPlayIcon_hover.svg') px(26, $m) center no-repeat $color6;
                background-size: px(36, $m);
                color: $color7;
            }
        }

        &::after {
            display: block;
            position: absolute;
            bottom: 0;
            left: px(60, $m);
            width: px(860, $m);
            height: px(8, $m);
            background-image: url($pass-to-img + 'divider.svg');
            content: '';
        }
    }
    // END satellite

    .cable {
        order: 2;

        h2 {
            margin-right: px(40, $m);

            &::before {
                display: block;
                position: relative;
                width: px(120, $m);
                height: px(150, $m);
                margin: 0 0 px(38, $m) px(110, $m);
                background: url($pass-to-img + 'tvIcon.svg') no-repeat;
                content: '';
            }
        }

        h2::after {
            margin-right: px(118, $m);
        }

        p {
            width: px(440, $m);
        }

        button {
            display: none;
        }

        .findOperators {
            display: block;
            position: relative;
            top: px(176, $m);
            left: px(-4, $m);
            color: $color3;
            font-style: italic;
            letter-spacing: px(-1.2, $m);
        }

        .findOperators::before {
            display: block;
            position: absolute;
            top: px(-40, $m);
            left: px(130, $m);
            width: px(72, $m);
            height: px(4, $m);
            background-color: $color9;
            content: '';
        }
    }
    // END cable
}
