& {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100vw;
    font-family: 'PT Sans', Arial, sans-serif;

    a {
        text-decoration: none;
    }

    h2 {
        margin-bottom: px(50, $m);
        color: $color1;
        font-size: px(44, $m);
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;

        & > div,
        & > footer {
            width: 100%;
        }

        .divider-horizontal {
            width: px(60, $m);
            height: px(6, $m);
            border-radius: 50px;
            background-color: $color2;
            box-sizing: border-box;
            margin-bottom: px(54, $m);
        }

        .divider-vertical {
            display: none;
        }

        span {
            color: $color3;
            font-weight: bold;
            font-size: px(30, $m);
        }

        .thin {
            font-size: px(30, $m);
            color: $color3;
        }

        .internet {
            display: flex;
            position: relative;
            flex-direction: column;
            padding-top: px(60, $m);
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            background-color: $color4;

            img {
                width: px(137, $m);
                margin: 0 0 px(45, $m) px(46, $m);
            }

            p {
                text-align: center;
                width: px(347, $m);
                font-size: px(30, $m);
                color: $color3;
                line-height: px(32, $m);
            }

            .downloads {
                display: inline-flex;
                align-items: center;
                box-sizing: border-box;
                margin: px(56, $m) 0 px(58, $m);

                .android, .ios {
                    width: px(120, $m);
                    height: px(120, $m);
                    border: px(2, $m) solid $color5;
                    background: url($pass-to-img + 'androidIcon.svg') no-repeat center center;
                    background-size: px(78, $m);
                    box-sizing: border-box;
                    border-radius: 5px;
                }

                .text-field {
                    position: relative;
                    width: px(279, $m);
                    margin-top: px(-13, $m);
                    padding: 0 px(59, $m);
                    text-align: center;
                }

                .text-field::before {
                    display: block;
                    position: absolute;
                    width: px(67, $m);
                    height: px(17, $m);
                    top: px(82, $m);
                    left: px(30, $m);
                    content: '';
                    background: url($pass-to-img + 'greenArrow.png') no-repeat;
                    background-size: px(67, $m);
                }

                .text-field::after {
                    display: block;
                    position: absolute;
                    width: px(67, $m);
                    height: px(17, $m);
                    top: px(-22, $m);
                    left: px(192, $m);
                    content: '';
                    background: url($pass-to-img + 'greyArrow.png') no-repeat;
                    background-size: px(67, $m);
                }

                .ios {
                    background: url($pass-to-img + 'appleIcon.svg') no-repeat center center;
                    background-size: px(66, $m);
                    border: px(2, $m) solid $color3;
                }
            }

            .btn-empty {
                position: relative;
                width: px(380, $m);
                height: px(100, $m);
                margin: px(55, $m) 0 px(80, $m);
                padding: px(30, $m) 0 0 px(92, $m);
                box-sizing: border-box;
                border: px(2, $m) solid $color6;
                border-radius: 5px;

                a {
                    color: $color6;
                    font-size: px(30, $m);
                }
            }

            .btn-empty::after {
                display: block;
                position: absolute;
                width: px(40, $m);
                height: px(41, $m);
                content: '';
                top: px(28, $m);
                left: px(28, $m);
                background: url($pass-to-img + 'videoPlayIcon.svg') no-repeat;
                background-size: px(39, $m);
                z-index: 20;
            }
        }

        .internet::after {
            display: block;
            position: relative;
            width: 100%;
            height: px(6, $m);
            bottom: 0;
            left: 0;
            content: '';
            background-image: url($pass-to-img + 'divider.svg');
        }
        // END internet

        .satellite {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $color4;
            box-sizing: border-box;

            .satellite-header {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: px(116, $m);
                    margin: px(80, $m) 0 px(45, $m) px(-35, $m);
                }
            }

            .sets {
                display: flex;
                margin: px(-2.5, $m) px(13, $m) 0 0;

                .right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-right: px(11, $m);

                    & > span {
                        padding-bottom: px(30, $m);
                    }

                    & > span:last-child {
                        padding-bottom: 0;
                    }
                }

                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: px(11, $m);

                    & > span {
                        font-weight: normal;
                        padding-bottom: px(30, $m);
                    }

                    & > span:last-child {
                        padding-bottom: 0;
                    }
                }
            }

            .btn-full {
                position: relative;
                width: px(380, $m);
                height: px(100, $m);
                margin: px(57, $m) 0 px(80, $m);
                padding: px(33, $m) 0 0 px(80, $m);
                box-sizing: border-box;
                border: px(2, $m) solid $color6;
                border-radius: 5px;

                a {
                    color: $color6;
                    font-size: px(30, $m);
                }
            }

            .btn-full:hover {
                background-color: $color6;

                a {
                    color: $color7;
                }

                &::after {
                    background: url($pass-to-img + 'videoPlayIcon_hover.svg') no-repeat;
                }
            }

            .btn-full::after {
                display: block;
                position: absolute;
                width: px(41, $m);
                height: px(41, $m);
                content: '';
                top: px(30, $m);
                left: px(25, $m);
                background: url($pass-to-img + 'videoPlayIcon.svg') no-repeat;
                background-size: px(41, $m);
                z-index: 20;
            }
        }

        .satellite::after {
            display: block;
            position: relative;
            width: 100%;
            height: px(6, $m);
            bottom: 0;
            left: 0;
            content: '';
            background-image: url($pass-to-img + 'divider.svg');
        }
        // END satellite

        .cable {
            display: flex;
            position: relative;
            flex-direction: column;
            padding-top: px(76, $m);
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            background-color: $color4;
            border-bottom: px(4, $m) solid $color8;

            img {
                width: px(135, $m);
                margin: 0 0 px(48, $m) px(-1, $m);
            }

            p {
                text-align: center;
                width: px(510, $m);
                margin-top: px(-8, $m);
                font-size: px(30, $m);
                color: $color3;
                line-height: px(37, $m);
            }

            .btn-empty {
                position: relative;
                width: px(380, $m);
                height: px(100, $m);
                margin: px(52, $m) 0 px(80, $m);
                padding: px(32, $m) 0 0 px(95, $m);
                box-sizing: border-box;
                border: px(2, $m) solid $color6;
                border-radius: 5px;

                a {
                    color: $color6;
                    font-size: px(30, $m);
                }

                &::after {
                    display: block;
                    position: absolute;
                    width: px(41, $m);
                    height: px(42, $m);
                    content: '';
                    top: px(28, $m);
                    left: px(25, $m);
                    background: url($pass-to-img + 'findOperatorsIcon.svg') no-repeat;
                    background-size: px(41, $m);
                    z-index: 20;
                }
            }
        }
        // END cable
    }
    // END container
}
