@media #{$phoneLandscape} {
    $m: phoneLandscape;

    @import '../mobile';

    > div {
        h2 {
            position: relative;
            width: 100%;

            &::after {
                position: absolute;
                width: px(6, $m);
                height: px(60, $m);
                margin: 0;
            }
        }
    }

    .internet {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;
        order: 2;

        h2 {
            margin: px(74, $m) 0 px(116, $m) px(498, $m);

            &::before {
                position: absolute;
                top: px(-56, $m);
                left: px(-486, $m);
            }

            &::after {
                top: px(-6, $m);
                left: px(-80, $m);
            }
        }

        p {
            margin: px(8, $m) px(-4, $m) 0 px(4, $m);
            text-align: right;
        }

        .phoneMode {
            margin: px(24, $m) px(-10, $m) 0 px(4, $m);
        }

        .downloads {
            margin: 0 px(70, $m) px(80, $m) 0;
        }

        button {
            margin: 0 px(208, $m) px(100, $m) 0;
        }
    }
    // END internet

    .satellite {
        flex-flow: row-reverse wrap;
        align-items: flex-start;
        order: 1;

        h2 {
            margin: px(56, $m) 0 px(118, $m) px(68, $m);

            &::before {
                position: absolute;
                top: px(-76, $m);
                left: px(550, $m);
            }

            &::after {
                top: px(-6, $m);
                left: px(496, $m);
            }
        }

        ul {
            @include set-order;

            display: flex;
            flex-flow: column wrap;
            width: 50%;
            height: px(326, $m);
            margin-bottom: px(52, $m);

            li {
                width: 50%;
                padding: 0;

                span {
                    width: 100%;
                    padding: 0 0 px(44, $m);

                    &:nth-child(odd) {
                        padding: 0 0 px(4, $m);
                        text-align: left;
                    }
                }

                &:nth-child(4) {
                    padding-left: px(18, $m);
                }

                &:nth-child(2) {
                    order: 5;
                    padding-left: px(18, $m);
                }

                &:nth-child(5) {
                    order: 2;
                }
            }
        }

        button {
            margin: 0 px(94, $m) px(80, $m);

            &::after {
                position: absolute;
                right: px(184, $m);
                bottom: px(-84, $m);
                width: px(18, $m);
                height: px(66, $m);
                background: url($pass-to-img + 'greyArrowUp.png') no-repeat;
                background-size: px(18, $m);
                content: '';
            }
        }

        .description {
            display: block;
            position: absolute;
            bottom: px(44, $m);
            left: px(88, $m);
            width: px(385, $m);
            color: $color3;
            font-size: px(24, $m);
            font-style: italic;
            line-height: px(30, $m);
            text-align: center;
        }
    }
    // END satellite

    .cable {
        flex-flow: row wrap;
        order: 3;

        h2 {
            order: 1;
            margin: px(56, $m) 0 px(104, $m) px(128, $m);

            &::before {
                position: absolute;
                top: px(-82, $m);
                left: px(554, $m);
            }

            &::after {
                top: px(-6, $m);
                left: px(438, $m);
            }
        }

        button {
            order: 2;
            margin: 0 px(60, $m) px(82, $m) px(92, $m);
        }

        p {
            order: 3;
            width: px(536, $m);
            margin: 0 auto px(90, $m);
            text-align: left;
        }
    }
    // END cable
}
