@media #{$tabletPortrait} {
    $m: tabletPortrait;

    @import '../mobile';

    & {
        flex-direction: row;
        flex-wrap: wrap;
    }

    > div {
        h2 {
            font-size: px(50, $m);
        }

        button {
            width: px(460, $m);
            height: px(112, $m);
            background-position: px(36, $m) center;
            background-size: px(42, $m);
            font-size: px(34, $m);

            &:hover {
                background-position: px(36, $m) center;
            }
        }
    }

    .internet {
        justify-content: flex-start;
        order: 2;
        width: 50%;
        padding: px(104, $m) px(56, $m) 0 0;

        h2::before {
            width: px(162, $m);
            height: px(202, $m);
            margin: px(2, $m) 0 px(62, $m) px(210, $m);
        }

        h2::after {
            margin: px(64, $m) auto px(68, $m);
        }

        .phoneMode {
            display: none;
        }

        .wideMode {
            display: block;
            width: px(598, $m);
            margin: 0 px(12, $m) 0 0;
            color: $color3;
            font-size: px(34, $m);
            line-height: px(40, $m);
            text-align: center;
        }

        .downloads {
            width: px(568, $m);
            margin: px(74, $m) px(8, $m) px(70, $m) 0;

            a {
                width: px(144, $m);
                height: px(144, $m);
            }

            span {
                &::before {
                    top: px(92, $m);
                    left: px(-40, $m);
                    width: px(70, $m);
                    height: px(36, $m);
                    background-size: px(74, $m);
                }

                &::after {
                    top: px(-34, $m);
                    left: px(120, $m);
                    width: px(70, $m);
                    height: px(36, $m);
                    background-size: px(74, $m);
                }
            }

            .android {
                background-size: px(90, $m);

                &:hover {
                    background-size: px(92, $m);
                }
            }

            .ios {
                background-size: px(80, $m);

                &:hover {
                    background-size: px(80, $m);
                }
            }
        }

        p {
            width: px(528, $m);
            margin: 0;
            font-size: px(34, $m);
        }

        button {
            margin-top: px(90, $m);
            background-position: px(44, $m) center;

            &:hover {
                background-position: px(44, $m) center;
            }
        }

        &::after {
            position: absolute;
            right: px(108, $m);
            bottom: px(-146, $m);
            width: px(535, $m);
        }
    }
    // END internet

    .satellite {
        justify-content: flex-start;
        order: 1;
        width: 50%;
        padding: px(104, $m) 0 0 px(32, $m);

        h2::before {
            width: px(134, $m);
            height: px(198, $m);
            margin: px(2, $m) 0 px(68, $m) px(154, $m);
        }

        h2::after {
            margin: px(64, $m) auto px(68, $m);
        }

        ul {
            margin: 0 0 px(98, $m);

            li {
                padding: 0 0 px(56, $m);

                span {
                    font-size: px(34, $m);
                    letter-spacing: px(-.8, $m);

                    &:nth-child(odd) {
                        padding: 0 px(18, $m);
                        letter-spacing: px(.2, $m);
                    }
                }
            }
        }

        &::after {
            position: absolute;
            bottom: px(-146, $m);
            left: px(106, $m);
            width: px(535, $m);
        }
    }
    // END satellite

    .cable {
        order: 3;
        padding: 0;

        h2::before {
            width: px(160, $m);
            height: px(196, $m);
            margin: px(18, $m) 0 px(74, $m) px(94, $m);
        }

        h2::after {
            margin: px(74, $m) auto px(72, $m);
        }

        p {
            width: px(1084, $m);
            margin-top: 0;
            font-size: px(34, $m);
            line-height: px(44, $m);
        }

        button {
            display: none;
        }
    }
}
